// =============SITE FOOTER========================
.site-footer {
    background-color: #BEE9FF;
}
.footer__wrapper {
    padding: 50px 0;
    .footer__lead {
        font-size: 33px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #00445B;
    }
    .form-box {
        display: flex;
        padding-bottom: 50px;
        .input-name {
            width: 369px;
            height: 46px;
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            padding: 15px;
            background-color: #ECFEFA;
        }
        .input-number {
            width: 269px;
            height: 46px;
            margin-left: 30px;
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            padding: 15px;
            background-color: #ECFEFA;
        }
        .input-email {
            width: 269px;
            height: 46px;
            margin-left: 30px;
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            padding: 15px;
            background-color: #ECFEFA;
        }
        .button-submit {
            width: 169px;
            height: 46px;
            margin-left: 30px;
            border: 1px solid transparent;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #00445B;
            text-transform: uppercase;
            font-weight: bold;
            transition: all 0.3s;
        }
        .button-submit:hover {
            color: #00445B;
            background-color: #fff;
            border: 1px solid #00445B;
        }
    }
    .footer-line {
        width: 300px;
        height: 0;
        text-align: center;
        border: 1px solid rgba(0, 68, 91, 0.5);
    }
    .footer-bottom {
        display: flex;
        align-items: flex-end;
        .footer-logo__box {
            display: flex;
            align-items: center;
            .footer-logo__text-box {
                margin-left: 20px;
                width: 160px;
            }
            .footer-logo__lead {
                font-size: 22px;
                line-height: 27px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                margin-bottom: 10px;
                margin-left: 5px;
            }
            .footer-logo__text {
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                letter-spacing: 0.02em;
                margin-top: 0;
            }
        }
        .footer-logo {
            
        }
        .copyright {
           margin-left: 12%;
           margin-right: 20%;
           font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.02em;
        }
    }
}
@include breakpoint-down (900px) {
    .footer__wrapper {
        padding: 50px 0;
        .form-box {
            display: flex;
            padding-bottom: 50px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .input-name {
                margin: 15px;
            }
            .input-number {
                margin: 15px;
            }
            .input-email {
                margin: 15px;
            }
            .button-submit {
                margin: 15px;
            }
        }
    }
}
@include breakpoint-down (768px) {
    .footer__wrapper {
    .footer-bottom {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
}
@include breakpoint-down (480px) {
    .footer__wrapper {
        padding: 30px 0;
        .footer__lead {
            font-size: 26px;
            line-height: 30px;

        }
        .form-box {
            width: 100%;
            .input-name {
                margin: 10px;
                width: 100%;
            }
            .input-number {
                margin: 10px;
                width: 100%;
            }
            .input-email {
                margin: 10px;
                width: 100%;
            }
            .button-submit {
                margin: 10px;
            }
        }
    }
}