// ================SITE HERO SECTION====================
.site-main {

}
.hero-section {

}
.hero-section__wrapper {
    display: flex;
    justify-content: space-between;
    .hero__title {
        margin-top: 80px;
        max-width: 620px;
        .hero-lead {
            font-size: 53px;
            line-height: 65px;
            letter-spacing: 0.02em;
            margin-bottom: 20px;
        }
        .hero-text {
            font-size: 23.4946px;
            line-height: 29px;
            letter-spacing: 0.02em;
            margin-bottom: 40px;
        }
        .hero-button {
            display: inline-block;
            padding: 22px 47px;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            background-color: $color-primary;
            border: 1px solid transparent;
            transition: all 0.3s;
        }
        .hero-button:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
        }
    }
    .hero-img {
        width: 407px;
        height: 621px;
    }
}
@include breakpoint-down (1024px) {
    .hero-section__wrapper {
        .hero__title {
            .hero-lead {
                font-size: 48px;
                line-height: 60px;
            }
            .hero-text {
                font-size: 22px;
                line-height: 32px;
            }
        }
        .hero-img {
        }
    }
}
@include breakpoint-down (800px) {
    .hero-section__wrapper {
        .hero__title {
            .hero-lead {
                font-size: 36px;
                line-height: 40px;
            }
            .hero-text {
                font-size: 20px;
                line-height: 25px;
            }
        }
        .hero-img {
        }
    }
}
@include breakpoint-down (768px) {
    .hero-section__wrapper {
        .hero__title {
            .hero-lead {
                font-size: 32px;
                line-height: 35px;
            }
            .hero-text {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .hero-button {
            padding: 5px 5px;
            font-size: 12px;
            line-height: 10px;
            letter-spacing: 0.02em;
        }
        .hero-img {
        }
    }
}
@include breakpoint-down (700px) {
    .hero-section__wrapper {
        .hero__title {
            .hero-lead {
                font-size: 32px;
                line-height: 35px;
            }
            .hero-text {
                font-size: 18px;
                line-height: 24px;
            }
        }
        .hero-button {
            padding: 5px 5px;
            font-size: 12px;
            line-height: 10px;
            letter-spacing: 0.02em;
        }
        .hero-img {
            width: 250px;
            height: 500px;
        }
    }
}
@include breakpoint-down (510px) {
    .hero-section__wrapper {
        .hero__title {
            .hero-lead {
                font-size: 25px;
                line-height: 28px;
                margin-bottom: 10px;
            }
            .hero-text {
                margin-top: 0;
                font-size: 16px;
                line-height: 24px;
            }
            .hero-button {
                padding: 15px 15px;
                font-size: 15px;
                line-height: 10px;
                letter-spacing: 0.02em;
            }
        }
    }
}
@include breakpoint-down (480px) {
    .hero-section__wrapper {
        flex-wrap: wrap-reverse;
        text-align: center;
        justify-content: center;
        .hero__title {
            position: relative;
            z-index: 25;
            margin-top: -150px;
            .hero-lead {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 10px;
            }
            .hero-text {
                margin-top: 0;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 20px;
            }
            .hero-button {
                padding: 15px 15px;
                font-size: 18px;
                line-height: 10px;
                letter-spacing: 0.02em;
            }
            .hero-img {
                position: relative;
                z-index: 5;
                
                width: 350px;
                height: auto;
            }
        }
    }
}