// =================LESSONS VIDEOS SECTION=======================
.lessons-videos-section {

}
.lessons-videos-section__wrapper {
    padding: 20px 0 100px 0;
    .lessons-videos-section__lead {
        font-size: 33px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #00445B;
    }
    .lessons-videos-cauresel__wrapper {
        overflow: hidden;
    }
    .lessons-videos__list {
        @include list-unstyled;
        display: flex;
        transition: all 0.7s ease-in-out;
        margin-bottom: 40px;
        .lessons-videos__item {
            width: 369px;
            height: 273px;
        }   
        .lessons-videos__item ~ .lessons-videos__item {
            margin-left: 30px;
        }
    }
}
.lessons-videos-caruesel__btn {
    text-align: center;
    user-select: none;
}
@include breakpoint-down (480px) {
    .lessons-videos-section__wrapper {
        padding: 20px 0 80px 0;
        .lessons-videos-section__lead {
            font-size: 26px;
            line-height: 30px;

        }
    }
}