// =============LESSONS PHOTOS SECTION======================
.lessons-photos-section {

}
.lessons-photos-section__wrapper {
    padding: 20px 0 100px 0;
    .lessons-photos-section__lead {
        font-size: 33px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #00445B;
    }   
}
.lessons-photos__list {
    @include list-unstyled;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .lessons-photos__item {
        width: 368px;
        .lessons-photos__item-img {
            filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.13));
        }
    }  
    
}
@include breakpoint-down (480px) {
    .lessons-photos-section__wrapper {
        padding: 20px 0 80px 0;
        .lessons-photos-section__lead {
            font-size: 26px;
            line-height: 30px;
        }   
    }
    .lessons-photos__list {

        .lessons-photos__item {
            width: 100%;
            .lessons-photos__item-img {
                width: 100%;
            }
        }  
        
    }
}
