// ===============TEACHERS SECTION=====================
.teachers-section {

}
.teachers-section__wrapper {
    padding: 20px 0 100px 0;
    .teachers-section__lead {
        font-size: 33px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #00445B;
    }
    .teachers-caruesel__wrapper {
        overflow: hidden;
        width: 100%;
        
    }
    .teachers-section__list {
        @include list-unstyled;
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        transition: all 0.7s ease-in-out;
        .teachers-section__item {
            width: 369px;
            height: 401px;
            background-color: #ECFEFA;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
            .teachers-section__item-img {

            }
            .teachers-item__box {
                padding: 37px;
                .teacher-name {
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                .teacher-job {
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0.02em;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                .teacher-experience {
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0.02em;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
                .teacher-studies__number {
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0.02em;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
        .teachers-section__item ~ .teachers-section__item {
            margin-left: 30px;
        }
    }
}
.teachers-caruesel__btn {
    text-align: center;
    user-select: none;
}